* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

:root {
    --bg-color: rgba(12, 12, 12, 0);
    --body-color:rgba(0, 217, 255, 0.266);
    --black-color:rgba(64, 107, 107, 0.352);
}
body{
    background-color: var(--body-color);
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60vw;
    background:var(--black-color);
    border-radius: 40px;
    padding: 30px;
    
}
.container{
    margin: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.form-element {
    background-color: var(--bg-color);
    height:auto;
    width: 40vw;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
}
#username{
    height: 5vh;
    border-radius: 8px;
    border: none;
    padding: 10px;
    border: hidden;
    outline: none;
}
#password{
    height:5vh ;
    border-radius: 8px;
    border: none;
    padding: 10px;
    border: hidden;
    outline: none;
}
#button{
    margin:25px;
}
#btn{
    height: 30px;
    width: 100px;
    border-radius: 12px;
    border: hidden;
}
.Password-Validation p {
    display: block;
}
